In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
file_one = "Resources/DataOne.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [9]:
# Show just the header
file_one_df.head(50)

    id first_name  last_name                       email  gender
0    1      David     Jordan            djordan0@home.pl    Male
1    2    Stephen      Riley     sriley1@hugedomains.com    Male
2    3     Evelyn      Grant     egrant2@livejournal.com  Female
3    4        Joe    Mendoza            jmendoza3@un.org    Male
4    5   Benjamin  Rodriguez      brodriguez4@elpais.com    Male
5    6   Kathleen   Crawford      kcrawford5@cbsnews.com  Female
6    7     Daniel   Marshall        dmarshall6@salon.com    Male
7    8      Diana    Coleman     dcoleman7@amazonaws.com  Female
8    9    Frances      Black         fblack8@webnode.com  Female
9   10      Tammy     Arnold         tarnold9@ebay.co.uk  Female
10  11    Jeffrey   Matthews     jmatthewsa@mapquest.com    Male
11  12        Roy   Harrison      rharrisonb@youtube.com    Male
12  13     Ernest     Bishop          ebishopc@intel.com    Male
13  14      Brian    Griffin         bgriffind@issuu.com    Male
14  15      Alice     Howell         ahowelle@boston.com  Female
15  16      Emily      Garza               egarzaf@51.la  Female
16  17      Sarah      Perez             sperezg@mail.ru  Female
17  18       Earl     Harvey         eharveyh@cpanel.net    Male
18  19      Larry    Watkins       lwatkinsi@archive.org    Male
19  20    Timothy    Edwards    tedwardsj@altervista.org    Male
20  21    Theresa   Phillips         tphillipsk@1688.com  Female
21  22    Timothy   Lawrence         tlawrencel@fema.gov    Male
22  23    Gregory    Daniels         gdanielsm@goo.ne.jp    Male
23  24      Laura       Ross        lrossn@delicious.com  Female
24  25     Martin     Burton    mburtono@stumbleupon.com    Male
25  26    Antonio    Chapman      achapmanp@trellian.com    Male
26  27       Tina     Lawson             tlawsonq@ed.gov  Female
27  28    Heather    Wallace     hwallacer@quantcast.com  Female
28  29       Mary      Stone       mstones@newyorker.com  Female
29  30     Angela     Flores     aflorest@deviantart.com  Female
30  31     Andrew     Hudson          ahudsonu@nymag.com    Male
31  32    Lillian       Boyd           lboydv@forbes.com  Female
32  33      Julia    Hawkins         jhawkinsw@ocn.ne.jp  Female
33  34      Alice   Sullivan    asullivanx@shinystat.com  Female
34  35       Adam     Tucker           atuckery@nasa.gov    Male
35  36    Rebecca  Fernandez    rfernandezz@symantec.com  Female
36  37      Frank     Bailey     fbailey10@google.com.hk    Male
37  38      Julia   Stephens     jstephens11@storify.com  Female
38  39        Ann    Carroll          acarroll12@msu.edu  Female
39  40    Kenneth     Duncan          kduncan13@ehow.com    Male
40  41        Roy     Flores         rflores14@ameblo.jp    Male
41  42       Gary      Dixon        gdixon15@jiathis.com    Male
42  43       Lois     Pierce  lpierce16@surveymonkey.com  Female
43  44    Barbara      Olson          bolson17@desdev.cn  Female
44  45      Brian    Daniels         bdaniels18@yelp.com    Male
45  46      Helen   Campbell       hcampbell19@patch.com  Female
46  47       Adam      Banks          abanks1a@cam.ac.uk    Male
47  48      Frank     Murray          fmurray1b@ning.com    Male
48  49  Christina    Edwards  cedwards1c@stumbleupon.com  Female
49  50  Stephanie   Gonzalez       sgonzalez1d@patch.com  Female

In [10]:
# Show a single column
file_one_df["first_name"].head(50)

0         David
1       Stephen
2        Evelyn
3           Joe
4      Benjamin
5      Kathleen
6        Daniel
7         Diana
8       Frances
9         Tammy
10      Jeffrey
11          Roy
12       Ernest
13        Brian
14        Alice
15        Emily
16        Sarah
17         Earl
18        Larry
19      Timothy
20      Theresa
21      Timothy
22      Gregory
23        Laura
24       Martin
25      Antonio
26         Tina
27      Heather
28         Mary
29       Angela
30       Andrew
31      Lillian
32        Julia
33        Alice
34         Adam
35      Rebecca
36        Frank
37        Julia
38          Ann
39      Kenneth
40          Roy
41         Gary
42         Lois
43      Barbara
44        Brian
45        Helen
46         Adam
47        Frank
48    Christina
49    Stephanie
Name: first_name, dtype: object

In [6]:
# Show mulitple specific columns--note the extra brackets
file_one_df[["first_name", "email"]].head()

  first_name                    email
0      David         djordan0@home.pl
1    Stephen  sriley1@hugedomains.com
2     Evelyn  egrant2@livejournal.com
3        Joe         jmendoza3@un.org
4   Benjamin   brodriguez4@elpais.com

In [7]:
# Head does not change the DataFrame--it only displays it
file_one_df.head()

   id first_name  last_name                    email  gender
0   1      David     Jordan         djordan0@home.pl    Male
1   2    Stephen      Riley  sriley1@hugedomains.com    Male
2   3     Evelyn      Grant  egrant2@livejournal.com  Female
3   4        Joe    Mendoza         jmendoza3@un.org    Male
4   5   Benjamin  Rodriguez   brodriguez4@elpais.com    Male

In [11]:
# Export file as a CSV, without the Pandas index, but with the header
file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)

PermissionError: [Errno 13] Permission denied: 'Output/fileOne.csv'